body {
    background: url('../../images/1-2.jpg') no-repeat;
    background-size: 100% 100%;
    overflow:hidden;
    padding: 0;
    margin: 0;
  }
  
  .main {
    display: grid;
    height: 200vh;
    animation: loading 0.5s linear;
    @media screen and (max-width: 600px) {
      height: 100vh;
    }
  }
  .image{
    width: 300px;
    display: block;
    margin: auto;
  }
  .wraper{
    background-color: rgba(238, 103, 103, 0.305);
    border: 0px ;
    border-radius: 30px;
    margin-top: 30px;
    
  }

  
  @keyframes loading {
    from {
      scale: 0;
      -webkit-transform: scale(0);
    }
  
    to {
      scale: 1;
      -webkit-transform: scale(1);
    }
  }
  @media screen and (max-width: 700px) {
    .main{
        height: 100vh;
    }
    
}
